div
{
    border-radius: 5px;
    }

body{
  font-family: verdana;
  font-size: 15px;
  background-color:white;
  border:double 4px black;
  min-height:1950px;
  margin-left:5%;
  margin-right:5%;
  margin-top: 5%;
  margin-bottom: 5%;

}


#header
{
  float: left;


}

#contact
{line-height: 5px;
padding-top: 25px;

}

a:hover {
    font-weight: bold;
}

.right
{
    float: left;
    margin-top: 50px;
    padding-left:5px;
    height: auto;
    width: 99%;
    background-color: white;
    }

h3
{
    text-decoration: underline;
    }

#job-responsibilities
{
    padding: 1px;
    }
.job-title
{
    font-weight: bold;
    }


#socialmedia
{
    height:2px;
    text-decoration:underline;
    }

#poste
{
    height: 5px;
    }
#communication
{
    height:2px;
    text-decoration:underline;

    }

#heading
{
    font-weight:bold;
    }
